<div class="">
  {{textarea id="day-one-input" value=puzzle}}
  <button id="day-one-calculate" type="button" name="button" {{action 'calculate' puzzle}}>Calculate</button>
</div>

<div>
  Result: <span class="day-one-result">{{result}}</span>
</div>
